@import url('//fonts.googleapis.com/css?family=Lobster|Cabin:400,700');

body {
	font-family: 'Cabin', Arial, sans-serif;
	color: #fff;
	background-color: #108a93;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lobster', cursive;
}

legend {
	font-family: 'Lobster', cursive;
}

.navbar,
.navbar-brand {
	background-color: #ad1d28 !important;
	border-color: #911821 !important;
	font-size: 1.3em;
}

.navbar-brand {
	margin-left: 15px;
}

.navbar-toggler {
	margin-right: 15px;
}

.navbar-light .navbar-brand {
	font-family: 'Lobster', cursive;
	color: #fff;
}

.navbar-light .navbar-toggler {
	color: white;
	border-color: white;
}

.navbar-light .navbar-toggler-icon {
	background-image: url("data:image/svgxml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
	color: white;
}

.list-name {
	color: #f7bc65;
}

.list-rating {
	color: #aaa;
	font-size: 19px;
}

.card {
	margin-bottom: 1rem;
}

.card.locations-card {
	margin-top: 1.5em;
	border: none;
}

.locations-card .list-group-item {
	padding-top: 10px;
	padding-bottom: 12px;
	background-color: #469ea8 !important;
	border-color: #ad1d28 !important;
}

.card.details-card {
	border-color: #ad1d28 !important;
}

.details-card .list-group-item {
	background-color: #469ea8 !important;
	border-color: #ad1d28;
}

.card .address {
	color: #fff;
}

.card-title h5 {
	padding: 10px;
}

.card-title {
	background-color: #ad1d28;
	padding: 10px;
	color: #fff;
}

.customer-reviews .card-title {
	margin-bottom: 0px;
}

.inner-floating-right {
	vertical-align: middle;
	position: relative;
}

.outer-floating-right {
	line-height: 15px;
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
}

.map-title {
	margin-bottom: 0;
}

.facilities .card-content {
	padding: 0px 10px 10px 10px;
}

.card-content {
	padding: 2px 10px 2px 10px;
}

.banner {
	margin-top: 4em;
	border-bottom: 1px solid #469ea8;
	margin-bottom: 1em;
	padding-bottom: 0.5em;
}

.banner-strapline {
	font-size: 0.75em;
}

.row.review-header {
	margin: 0;
	padding: 10px;
}

.review-header {
	color: #fff;
	background-color: #31727a;
}

.review {
	margin-right: -16px;
	margin-left: -16px;
	margin-bottom: 0.5em;
}

span.badge.bg-primary {
	background-color: #ad1d28 !important;
	border-color: #911821 !important;
	margin-top: 4px;
}

h4 a,
h4 a:hover {
	color: #fff;
}

a {
	text-decoration: none;
}

h4 small {
	font-size: 60%;
	line-height: 200%;
	color: #aaa;
}

h1 small {
	color: #aaa;
}

.opening-times > .list-group > .list-group-item,
.facilities > .list-group > .list-group-item {
	color: #fff;
	border-style: none;
	padding: 0px;
}

.opening-times > .list-group > .list-group-item,
.customer-reviews > .list-group > .list-group-item {
	padding: 0px;
}

.address {
	margin-bottom: 0.5rem;
}

.details-address {
	font-size: 1.02em;
}

.facilities span.badge {
	margin-right: 3px;
	background-color: #f7bc65 !important;
	color: black;
}

p {
	margin-bottom: 0.65rem;
}

a {
	color: rgba(255, 255, 255, 0.8);
}

a:hover {
	color: #fff;
}

.menu-icon {
	width: 30px;
	height: 3px;
	background-color: #fff;
	margin: 6px 0;
}

.details-card h3 {
	font-size: 1.5em;
}

form {
	color: #fff;
	padding: 10px;
}

#submit-review-btn {
	margin-left: 10px;
	background-color: #1cd100;
}
